
/*CSS for all pages*/
ul, body{
	margin: 0;
	padding: 0;
	height: 100%
}
h2{
	font-family: 'Roboto Condensed', sans-serif;
	text-transform: uppercase;
}

.nav{
	height: 90px;
}
.nav li {
	text-decoration: none;
	display: inline;
	font-size: 30px;
	float: right;
	margin-right: 40px;
	margin-top: 30px;
	font-family: "Roboto Condensed";
	
}

.nav a {
	font-family: 'Roboto Condensed', sans-serif;
	text-transform: uppercase;
	color: white;
	text-decoration: none;
}

#logo{
	display: inline;
}

#wrapper {
	height: 90px;
/*	background-color: rgba(0,0,0,0.5);*/
	background-size: cover;
	padding: 0px;
	margin: 0px;
}
/*CSS for all pages*/
	
video{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100vw;
/*	height: 100%;*/
	z-index: -100;
}

#colorFilter{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: -1;
}

#overlay{
	color: white;
	width: 500px;
	margin:0 auto;
	margin-top: 10%;
}

#overlay h2{
	font-size: 80px;
	font-family: sans-serif;
	text-align: center;
	line-height: 1.2em;
	text-transform: uppercase;
    margin: 0 auto;
}
#overlay p{
	font-size: 20px;
    width: 400px;
	line-height: 1.5em;
    font-family: sans-serif;
    text-align: justify;
    letter-spacing: 2px;
    margin: 0 auto;
}
/*about.html*/
#container{
	margin: 0 auto;
	width: 880px;
	margin-top: 200px;
}
#about{
	float: left;
	width: 400px;
	padding-right: 60px;
	font-family: 'Slabo 13px', serif;
	background-color: rgba(125,125,125, 0.9);
	color: white;
	
}

#about p {
	font-family: 'Slabo 13px', serif;
	font-size: 16px;
	line-height: 27px;
	letter-spacing: 1px;
	color: white;
	padding-left: 50px;
}

#about h2 {
	padding-left: 50px;
}

#facilities{
	float: left;
	width: 400px;
	font-family: 'Slabo 13px', serif;
	color: white;
	background-color: rgba(125,125,125, 0.9);
	color: white;
	height: 462px;

}

#facilities p{
	font-size: 16px;
	line-height: 27px;
	letter-spacing: 1px;
	color: white;

}
#facilities li {
	font-family: 'Slabo 13px', serif;
	font-size: 16px;
	letter-spacing: 1px;
	margin: 5px auto;
	margin-left: 5px;
}

#facilities ul {
	margin-left: 10px;
}


/*artist.html*/
#featureArtists{
	margin: 0 auto;
}

#artist01,#artist02,#artist03 {
	float: left;
	width: 300px;
	padding-right: 32px;
	padding-left:114px;	
	font-family: 'Slabo 13px', serif;

}

#artist01,#artist02,#artist03 p {
	font-family:'Slabo 13px', serif;
}

.slideshow {
	background-image: url("img/BG.gif");

}

h1 {
	font-family: 'Roboto Condensed';
	text-align: center;
	margin-bottom: 50px;
}

