
/*CSS for all pages*/
ul, body{
	margin: 0;
	padding: 0;
	height: 100%
}
h2, h1{
	font-family: 'Roboto Condensed', sans-serif;
	text-transform: uppercase;
}
#wrapper {
	width: 100%;
	height: 120px;
	background-color: rgba(0,0,0,0.5);
	background-size: cover;
	padding: 0px;
	margin: 0px auto;
	position: relative;
}
#logo img{
	height: 100px;
	margin-left: 50px;
	margin-top: 10px
}
.nav{
	position: absolute;
    top: 10px;
    right: 30px;;
}
.nav li {
	text-decoration: none;
	display: inline;
	font-size: 30px;
	float: right;
	margin-right: 40px;
	margin-top: 30px;
	font-family: "Roboto Condensed";
	
}

.nav a {
	font-family: 'Roboto Condensed', sans-serif;
	text-transform: uppercase;
	color: white;
	text-decoration: none;
}
.nav a:hover {
	color: #6abd46; 
	text-decoration: underline;
}

/**
	CSS for homepage=========================
**/
	
video{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100vw;
/*	height: 100%;*/
	z-index: -100;
}

#colorFilter{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: -1;
}

#overlay{
	color: white;
	width: 500px;
	margin:0 auto;
	margin-top: 10%;
}

#overlay h2{
	font-size: 80px;
	font-family: sans-serif;
	text-align: center;
	line-height: 1.2em;
	text-transform: uppercase;
    margin: 0 auto;
}
#overlay p{
	font-size: 20px;
    width: 400px;
	line-height: 1.5em;
    font-family: sans-serif;
    text-align: justify;
    letter-spacing: 2px;
    margin: 0 auto;
}

/**
	about.html=========================
**/
#slideshow {
	width: 100vw;
	height: 100vh;
	z-index: -100;
	position: fixed;
    top: 0;
    left: 0;
}
#container{
	margin: 0 auto;
	width: 920px;
	margin-top: 200px;
}
#about{
	float: left;
	width: 400px;
	height: 480px;
	padding-right: 60px;
	font-family: 'Slabo 13px', serif;
	background-color: rgba(125,125,125, 0.9);	
}

#about p {
	font-family: 'Slabo 13px', serif;
	font-size: 16px;
	line-height: 25px;
	letter-spacing: 1px;
	color: white;
	padding-left: 50px;
}

#about h2 {
	padding-left: 50px;
	color: #6abd46;
	font-size: 30px;
}

#facilities{
	float: left;
	width: 400px;
	height: 480px;
	font-family: 'Slabo 13px', serif;
	padding-right: 60px;
	background-color: rgba(125,125,125, 0.9);
}

#facilities h2 {
	color: #6abd46;
	font-size: 30px;
}

#facilities p{
	font-size: 16px;
	line-height: 25px;
	letter-spacing: 1px;
	color: white;

}
#facilities li {
	font-family: 'Slabo 13px', serif;
	font-size: 16px;
	letter-spacing: 1px;
	margin: 5px auto;
	margin-left: 5px;
	color: white;
}

#facilities ul {
	margin-left: 10px;
}


/**
	artist.html=========================
**/
#BGimage{
	width: 100vw;
	height: 100vh;
	z-index: -100;
	position: fixed;
    top: 0;
    left: 0;
}

#featureArtists p,a{
	color: white;
}
#featureArtists{
	width: 1200px;
    height: 650px;
    margin: 0 auto;
}

#artist01,#artist02,#artist03 {
	float: left;
	width: 320px;
	padding: 0 40px;
	font-family: 'Slabo 13px', serif;

}

#artist01 p,#artist02 p,#artist03 p {
	font-family: 'Slabo 13px', serif;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0.7px;
	padding: 0;
	color: white;
}

#featureArtists h1{
	color: #6abd46;
	text-align: center;
	text-transform: uppercase;
	font-size: 50px;
	margin-bottom: 50px;
}
#featureArtists a:hover{
	color: #6abd46;
}
